---
import logo from "../assets/MLP logo.svg";
---

<section id="gallery">
  <img src={logo.src}/>
  <img src={logo.src}/>
  <img src={logo.src}/>
  <img src={logo.src}/>
  <img src={logo.src}/>
</section>

<style>
  #gallery {
    background: #0a3351;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3rem;
    gap: var(--var-sds-size-space-1200, 3rem);
    padding: var(--var-sds-size-space-1600, 4rem);
  }

  img {
    display: block;
    border: 4px solid #061e2f;
    background-color: rgb(255, 255, 255);
    width: 20.333125rem;
    height: 21.875rem;
  }
</style>
